# ===== Core API =====
fastapi==0.127.0
uvicorn==0.40.0

# ===== Config & Validation =====
pydantic==2.12.5
pydantic-settings==2.12.0
email-validator==2.3.0
python-dotenv==1.2.1

# ===== HTTP =====
httpx==0.28.1
async-timeout==5.0.1

# ===== Database =====
SQLAlchemy==2.0.45
psycopg2-binary==2.9.11
redis==7.1.0

# ===== Telegram =====
aiogram==3.23.0

# ==== Push ====
pywebpush

# ==== Google Calendar ====
google-auth>=2.26.0
google-auth-oauthlib>=1.2.0
google-api-python-client>=2.100.0

